header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(235, 235, 235);
    bottom: -30px;
}

@media (max-width: 376px) {
    header .container::after {
        display: none;
    }
}

header .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header button:last-child img {
    width: 2rem;
}

header button:last-child img:hover {
    outline: 3px solid hsl(26, 100%, 55%);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.item-bubble {
    background-color: orange;
    color: white;
    padding: 0px 5px;
    border-radius: 100%;
    position: absolute;
    top: 21px;
    right: 48px;
}