.nav-section {
    display: flex;
    align-items: center;
}

.nav-section .burger-icon {
    display: none;
    padding-right: 20px;
}

@media (max-width: 376px) {
    .nav-section .burger-icon {
        display: block;
    }
}

.nav-section .logo{
    padding-right: 30px;
}

nav {
    display: flex;
    list-style: none;
}

@media (max-width: 376px) {
    nav {
        display: none;
    }
}

nav li {
    padding-right: 10px;
}