:root {
    --underline-height: 4px;
}

.nav-section {
    display: flex;
    align-items: center;
}

.nav-section .burger-icon {
    display: none;
    padding-right: 20px;
}

@media (max-width: 376px) {
    .nav-section .burger-icon {
        display: block;
    }
}

.nav-section .burger-icon button {
    border: none;
    background-color: white;
}

.nav-section .logo{
    padding-right: 30px;
}

nav {
    display: flex;
    list-style: none;
}

@media (max-width: 376px) {
    nav {
        display: none;
    }
}

nav li {
    display: block;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}

nav li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--underline-height);
    background-color: hsl(26, 100%, 55%);
    bottom: calc(-35px - var(--underline-height));
    left: 0;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 1000;
}

nav li:hover::after {
    opacity: 1;
}