:root {
    --border-radius: 20px;
}

img {
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

section {
    display: flex;
    flex-flow: column;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

section .row:last-child {
    display: flex;
    list-style: none;
}

section .row:last-child li img:hover {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}